@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to left, #ffa69e,#861657) ;
    color: #ffffff;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: block;
    padding: 50px;
    max-width: 80vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    border: 1px solid rgb(235, 233, 233);
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
        111.29deg,
    rgba(255, 255, 255, 0.53)-1.83%,
    rgba(255, 255, 255,0) 109.95%);
    box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(70px);
    border-radius: 25px;
}

nav{
    display: flex;
    /* border: 1px solid rgb(235, 233, 233); */
    margin-bottom: 12rem;
}

.menu{
    display: flex;
    margin-left: auto;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}

.menu-items{
    display:flex ;
    padding: 5px;
    font-size: 18px;
    margin-top: 2px;
}

a{
    color: #f8f8ff;
    text-decoration: none;
}

.brand-name{
    font-size: 25px;
    font-weight: bold;
}

/*.content-container{
     border: 1px solid rgb(235, 233, 233); 
}*/

.content{
    display: block;
}

.top{
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 2rem;
}

.bottom{
    font-size: 1.1em;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.btn-primary{
    padding: 12px;
    background: transparent;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid rgb(235, 233, 233);
    cursor: pointer;
}

.img-container{
    position: absolute;
    top: -170px;
    right: 0;
}

.content-container{
    position: relative;
}

@media (min-width: 320px) and (max-width: 480px){}






